.banner {
  @apply absolute top-[0vh] w-[100vw] z-40;
}

.banner .banner-row {
  @apply flex items-center overflow-hidden;
}

@media (max-width: 1440px) {
  .banner .banner-row:first-child {
    margin-top: 48px;
  }
}

.banner .banner-row.center {
  @apply justify-center text-center;
}

.banner .banner-row.center .row-letter {
  @apply left-0;
}

.banner .banner-row.right {
  @apply justify-end;
}

.banner .banner-row .row-title,
.banner .banner-row .row-letter {
  @apply relative inline-block text-7xl sm:text-9xl font-semibold whitespace-nowrap tracking-tighter text-white
}

.banner .banner-row .row-col {
  @apply w-1/2 flex items-center justify-center;
}

@media (max-width: 1440px) {
  .banner .banner-row .row-col {
    width: 70%;
  }
}
@media (max-width: 1240px) {
  .banner .banner-row .row-col:last-child {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner .banner-row .row-col {
    width: 100%;
    justify-content: flex-start;
  }
}

.message-col {
  @apply w-[95vw] flex justify-end;
}

.message-col .row-message {
  @apply font-medium text-sm lg:text-base float-right w-96 text-left text-white backdrop-blur-lg p-4 rounded-lg;
}

.banner .banner-row .scroll {
  @apply -bottom-60 left-52 w-40 h-40 rounded-full bg-white absolute flex items-center justify-center flex-col
}

@media (max-width: 1440px) {
  .banner .banner-row .scroll {
    left: 60px;
  }
}
@media (max-width: 1240px) {
  .banner .banner-row .scroll {
    display: none;
  }
}
.banner .banner-row .scroll span {
  @apply text-xs xs:text-lg font-semibold my-0.5 xs:my-1 text-slate-900;
}

.transition-image {
  @apply h-screen w-screen absolute top-0 left-0 flex items-center justify-center -z-10
}

.transition-image img {
  @apply flex w-[800px]
}

.transition-image.final {
  @apply block relative h-full w-[95%] mx-auto -z-[100]
}

.transition-image.final img {
  @apply w-full max-w-full rounded-2xl;
}
